.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row {display: flex;}

body{
    margin: 0;
}

.content {
    margin: 0 15% 0 15%;
}

.nav-link {
    color: white;
}

nav a:link {
    text-decoration: none;
}

.form-container {
    text-align: center;
    padding: 0 5%;
}

.container {
    text-align: left;
}

input[type="text"] {
    display: inline-block;
    margin: 3% 0;
    width: 100%;
}

.btn {
    background-color: rgb(69, 188, 235);
    color: white;
    padding: 10px 20px;
    border: 0ch;
    transition: 0.5s;
    border-radius: 12px;
    margin: 15px 0px;
}

.btn:hover {
    background-color: rgb(0, 169, 236);
    
}

div>h1{
    text-align: center;
}

table{
    border-collapse: collapse;

}
thead tr{
    background-color: rgb(69, 188, 235);
    
}
th {
    color: white;
    padding: 0.2em 0.75em;
}

tbody tr:nth-child(even){
    background-color: rgb(212, 211, 211);
}

tbody td{
    padding: 0.75em;
}

tbody tr:hover{
    background-color: rgb(126, 126, 126);
    color: white;
    transition: 0.4s;
}

footer{
    background-color: rgb(62, 62, 63);
    color: aliceblue;
    padding: 3% 10%;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}